%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="_icon-"],
[class*=" _icon-"] {
	&:before {
		@extend %ic;
		display: block;
	}
}

@font-face {
	font-family: 'icon';
	src:  url('../fonts/icon.eot?gi2eza');
	src:  url('../fonts/icon.eot?gi2eza#iefix') format('embedded-opentype'),
	  url('../fonts/icon.ttf?gi2eza') format('truetype'),
	  url('../fonts/icon.woff?gi2eza') format('woff'),
	  url('../fonts/icon.svg?gi2eza#icon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
  }
  
  [class^="_icon"]::before, 
  [class*="_icon"]::before {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icon' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
  
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  
  ._icon-insta:before {
	content: "\e900";
  }
  ._icon-teleph:before {
	content: "\e901";
  }